body {
    background-color: #F8FAFE;
}

.main-page {
    max-width: 1500px;
    margin: 0 auto;   
}

.header {
    width: 100%;
    position: fixed;
    height: 60px;
    background: #F8FAFE;
    border-bottom: 1px solid #010541;
    padding-top: 20px;
    top: 0px;
    left: 0px;
    z-index: 100;
}

.header__inner{
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {    
    font-family: 'Inter', sans-serif;    
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;     
    margin: 0px;    
}

.header__img {
    margin-right: 10px;
}

.header__cart {
    padding-right: 15px;
    height: 31px;
    width: 32px;
    position: relative;
}

.header__cart-img {

}

.header__cart-counter {
    position: absolute;
    color: #081658;
    border: 1px solid #081658;
    border-radius: 10px;
    width: 14px;
    height: 14px;
    top: -10px;
    left: 34px;
    text-align: center;
    padding-bottom: 3px;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Inter';
}

.main-img__img {
    height: 400px;
}

.nav {
    margin-top: 98px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;;
}

.nav__inner {
    max-width: 1500px;
    margin: 0 auto;
}

.nav__Link {
    color: #008CF0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
}

.nav__Link:hover {
    color: #c00;
}

.nav__Link:active {
    color: #A93A09;
}

.main-content {
    display: flex;
}

.main-content__left {
    margin-right: 100px;
} 

.main-content__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.photo-list {
    height: 114px;
    display: flex;    
}

.photo-list__item {
    width: 80px;
    height: 80px;
    border: 1px solid #888888;
    border-radius: 4px; 
    padding-top: 10px;
    margin-right: 10px;
    box-sizing: border-box;
}

.photo-list__item_selected {
    border: 2px solid #F36223;
}

.photo-list__item:active {
    border: 2px solid #A93A09;
    background: #F2F2F2;
    padding-top: 9px;
}

.photo-list :last-child {
    margin-right: auto;
}

.photo-list__img { 
    display: block;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}

.photo-list__item:hover {
    background: #F2F2F2;
}

.title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}

.config-list {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.config-list__item {
    margin-right: 10px;
    background-color: #F8FAFE;
    padding: 10px 20px;
    border: 1px solid #888888;
    border-radius: 4px; 
    box-sizing: border-box;
    width: 92px;
    height: 39px
} 

.config-list__item_selected {
    border: 2px solid #F36223;
    padding: 9px 19px;
}

.config-list__item:hover {
    background: #F2F2F2;
}

.config-list__item:active {
    border: 2px solid #A93A09;
    background: #F2F2F2;
    padding: 9px 19px;
}


.feature-list {
    list-style-image: url(IMG/Favicon/Marker.png);
    padding-left: 20px;
}

.feature-list__item { 
    margin-bottom: 10px;
}

.feature-list__text {
    margin-left: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
 }

 .feature-list__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #008CF0;
    text-decoration: none;
}

.feature-list__link:hover {
    color: #c00;
}

.feature-list__link:active {
    color: #A93A09;
}

 .description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.table {
    border: 1px solid #888888;
    border-collapse: collapse;
}

.table__columm {
    border-right: 1px solid #888888;
    padding: 10px;
}

.table__row {
    height: 39px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.table__row:hover {
    background-color: #F2F2F2;
}

.table__row_header {
    font-weight: 700;
    border: 1px solid #888888;
}

.main-content__reviews {
    margin-top: 61px;
}

.main-content__review-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.main-content__review-count {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #888888;
}

.review {
    display: flex;
    gap: 30px;
}

.review__text {
    font-family: 'Inter';
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.review__img {
    border-radius: 100px;
}

.review__author {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.review__rating {
    display: flex;
    margin-top: 10px;
}

.review__rating-img {
    Width: 30px;
    Height: 30px;
}

.review__divider {
    border: 1px dashed #888888;
    margin-left: 170px;
    margin-top: 26px;
    margin-bottom: 40px;
}

.review__form {
    margin-top: 60px;
    margin-left: 170px;
    
}

.review__form-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.review__form-inner {
    margin-top: 15px;
    display: flex;
    Justify-content: space-between;
    gap: 40px;
}

.review__form-name {
    min-width: 495px;
    height: 19px;
    padding: 15px 20px;
    border: 1px solid #888888;
}

.review__form-name:hover {
    border: 1px solid #000000;
}

.review__form-name:focus {
    border: 1px solid #000000;
    outline: none;
}

.review__form-name:placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #888888;
}

.review__form-rating {
    width: 135px;
    height: 19px;
    padding: 15px 20px;
    border: 1px solid #888888
}

.review__form-rating:hover {
    border: 1px solid #000000;
}

.review__form-rating:focus {
    outline: none;
    border: 1px solid #000000;
}

.review__form-rating:placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #888888;

}

.review__form-text {
    border: 1px solid #888888;
    width: calc(100% - 40px);
    height: 160px;
    margin-top: 30px;
    resize: none;
    margin-bottom: 30px;
    padding: 15px 20px;
}

.review__form-text:hover {
    border: 1px solid #000000;
}


.review__form-text:focus {
    outline: none;
    border: 1px solid #000000;
}

.review__form-text:placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #888888;
}

.review__form-button {
    margin-bottom: 100px;
    width: 177px;
    height: 39px;
    background: #F36223;
    border-radius: 4px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.term {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 380px;
    height: 235px;
    padding: 20px;
    border: 1px solid #EEEEEE;
    border-radius: 20px; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.term__delivery {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
}

.term__btn {
    width: 380px;
    height: 64px;
    background: #F36223;
    border-radius: 4px;
    color: #FFFFFF;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-top: 15px;
}

.term__btn:hover {
    background: #DA4A0C;
}

.term__btn:active {
    background: #A93A09;
}

.term__btn-img {
    height: 20px;
    width: 20px;
}

.term__oldprice {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    position: relative;
    color: #888888;
}

.term__oldprice::before {
    background: url(./img/love.svg) no-repeat;
    position: absolute;
    content: "";
    left: 360px;
    background-size: 26px 20px;
    width: 26px;
    height: 20px;
}

.term__oldprice:hover::before {
    background: url(./IMG/love2.svg) no-repeat;
    background-size: 26px 20px;
    width: 26px;
    height: 20px;
}

.term__oldprice:active::before {
    background: url(./IMG/love3.svg) no-repeat;
    background-size: 26px 20px;
    width: 26px;
    height: 20px;
}

.term__price {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    margin-top: 10px;
}

.term__discount {
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #F36223;
    border-radius: 500px;
    width: 47px;
    height: 24px;
    position: absolute;
    top: -5px;
    left: 75px;
}

.main-content__ad-header {
    color: #888888;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-top: 40px;
}

.ads__item {
    margin-top: 10px;
    width: 420px;
    height: 300px;
    border: 1px dashed #ccc;
}

.footer {
    background: #F2F2F2;
}

.footer__inner {
    max-width: 1500px;
    margin: 0 auto;   
    display: flex;
    Justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
}

.footer__contacts {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;   
}

.footer__link {
    color: #008CF0;
    text-decoration: none;
}

.footer__link:hover {
    color: #c00;
}
   
.footer__link:active {
    color: #A93A09;
}

.footer__up {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;    
    color: #008CF0;
}

.footer__up:hover {
 color: #c00;
}

.footer__up:active {
 color: #A93A09;
}

    @media (max-width: 1024px) {
    
    .main-page { 
        margin: 0 15px;
        
    }

    .main-img__img {
        height: 272px;
    }
    
    .main-content__left {
        margin-right: 40px;
    } 
    
    .main-content__subtitle_unvisible {
        visibility: hidden;
        display: none;
    }

    .table {
        visibility: hidden;
        display: none;
    }

    .review__img {
        width: 100px;
        height: 100px;
    }

    .review__rating-img {
        width: 20px;
        height: 20px;
    }

    .review__form {
        margin-left: 0px;
    }

    .review__form-name {
        min-width: 379px;
    }
}